<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.casa.notas"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="br.com.casa.notas.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.casa.notas.AppTela1"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="br.com.casa.notas.AppTela2"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="br.com.casa.notas.AppTela3"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="br.com.casa.notas.AppTela4"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="br.com.casa.notas.AppTela5"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="br.com.casa.notas.AppTela6"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="br.com.casa.notas.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="br.com.casa.notas.MenuActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="br.com.casa.notas.NotasActivity"
            android:label="@string/title_activity_notas" >
        </activity>
        <activity
            android:name="br.com.casa.notas.AppTelaNota"
            android:label="@string/title_activity_app_tela_nota" >
        </activity>
        <activity
            android:name="br.com.casa.notas.MainNotas"
            android:label="TAB WIDGET 1" >
        </activity>
        <activity
            android:name="br.com.casa.notas.TabNotas"
            android:label="TAB WIDGET 1" >
        </activity>
    </application>

</manifest>